body{
	margin: 0px;
	margin-top: 0px;
	background-image: url("bg01.jpg");
}
.login{
	margin: 11% auto;
	width: 25%;
	height: 400px;
	background-color: rgba(225,255,255,0.4);
}
.login_regis {
	margin-left: 42px;
	margin-top: 20px;
	height: 40px;
	width: 260px;
	text-align: center;
	color: black;
	font-size: 17px;
	border-radius: 8px
	background-color: rgba(225,255,255,0.4);
	border: 3px solid chocolate;
	margin-left: 42px;
	margin-top: 20px;
}
.


